<center>
    <!-- CONTACT -->
    <div id="about-section">
        <div class="container-fluid gradient_cover">
            <div class="container col-lg-12 col-md-12 col-sm-12">
                <div class="big-headline">About Me</div>
                <p id="specs">👨🏻‍💻 A Tech Lover 👨🏻‍💻‍</p>
                <p id="specs">🔥 A Graphic Freak 🔥</p>
                <p id="specs">🧠 Inspired by Imagination 🧠</p>
                <p id="specs">⏰ Bad at managing with time ⏰</p>
                <p id="specs">🃏 Jack of all trades, master of none 🃏</p>
                <p>
                    <a href="#contact-section">
                        <img style="width:3rem;" class="bounce" src="{{site.url}}{{site.baseurl}}/images/arrow.svg"></img>
                    </a>
                </p>
            </div>
        </div>
    </div>
    <!-- CONTACT -->
</center>