<center>
    <!-- CONTACT -->
    <div id="contact-section">
        <div class="container-fluid gradient_cover">
            <div class="container col-lg-12 col-md-12 col-sm-12">
                <div class="big-headline">Contact Me</div>
                <p id="contact-button"><a id="round-contact-button" href="https://twitter.com/intent/tweet?screen_name=harsh98trivedi"
                        rel="canonical" target="_blank">Tweet me on Twitter</a></p>
                <p id="contact-button"><a id="round-contact-button" href="mailto:harsh98trivedi@gmail.com">Send me
                        an Email</a></p>
                <p id="contact-button"><a id="round-contact-button" href="https://m.me/harsh98trivedi" target="_blank">Ping
                        me on Messenger</a></p>
                <p>
                    <a href="#welcome" style="transform: rotate(180deg); display: block; max-width: 3.5rem;">
                        <img style="width:3rem;" class="bounce" src="{{site.url}}{{site.baseurl}}/images/arrow.svg"></img>
                    </a>
                </p>
            </div>
        </div>
    </div>
    <!-- CONTACT -->
</center>