<!-- Include Meta Tags Here -->
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta http-equiv="X-UA-Compatible" content="ie=edge">
<meta name="viewport" content="width=device-width, height=device-height, initial-scale=1 user-scalable=no, shrink-to-fit=no">
<meta content='#000000' name='theme-color' />
<meta name="keywords" content="Harsh Trivedi, A Tech Lover, Inspired by Imagination, Techetarian, DezineWrath, Kanpur, Design, Harsh">
<title>{{site.title}} | {{page.title}}</title>

<!-- Open Graph general (Facebook, Pinterest & Google+) -->
<meta name="og:title" content="{{site.title}} | {{page.title}}">
<meta name="og:description" content="{{page.meta}}">
<meta name="og:image" content="{{page.image}}">
<meta name="og:image:alt" content="{{site.title}} | {{page.title}}">
<meta name="og:url" content="{{site.url}}{{site.baseurl}}{{page.url}}">
<meta name="article:author" content="https://www.facebook.com/harsh98trivedi">
<meta name="og:site_name" content="{{site.title}} | {{page.title}}">
<meta name="fb:admins" content="100002148065902">
<meta name="fb:app_id" content="1744421145620592">
<meta name="og:type" content="website">
<!-- Twitter -->
<meta property="twitter:card" content="summary_large_image" />
<meta name="twitter:title" content="{{site.title}} | {{page.title}}">
<meta name="twitter:description" content="A Tech Lover and a Designer Inspired by Imagination.">
<meta name="twitter:site" content="@harsh98trivedi">
<meta name="twitter:creator" content="@harsh98trivedi">
<meta name="twitter:image:src" content="{{page.image}}">
<!-- Search Engine -->
<meta name="description" content="A Tech Lover and a Designer Inspired by Imagination.">
<meta name="image" content="{{page.image}}">
<!-- Schema.org for Google -->
<meta itemprop="name" content="{{site.title}} | {{page.title}}">
<meta name="author" content="{{page.author}}" />
<meta itemprop="description" content="{{page.meta}}">
<meta itemprop="image" content="{{page.image}}">

<meta name="google-site-verification" content="0yDUo8-uyoewyaf5iw2w1qXf2T0qL-hF4cMY2Ji9STI" />
<!-- Include Meta Tags Here -->

<!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=UA-70447982-3"></script>
<script>
    window.dataLayer = window.dataLayer || [];

    function gtag() {
        dataLayer.push(arguments);
    }
    gtag('js', new Date());

    gtag('config', 'UA-70447982-3');
</script>