<center>
    <!-- Welcome Container Starts -->
    <div id="welcome">
        <div class="container-fluid gradient_cover">
            <div class="col-lg-12 col-md-12 col-sm-12">
                <img src="https://www.gravatar.com/avatar/0d73468bd0b0258eb61d9358352ecb7b?s=720" onError="this.onerror=null;this.src='{{site.url}}{{site.baseurl}}images/Harsh.jpg';"
                    alt="Harsh Trivedi" id="image"></img>

                <!-- • If you want to fetch image from Facebook use this URL: https://graph.facebook.com/100002148065902/picture?type=normal&width=500&height=500 -->

                <!-- • If you want to fetch image from GitHub use this URL: https://github.com/harsh98trivedi.png -->

                <!-- • If you want to fetch image from Gravatar use this URL: https://www.gravatar.com/avatar/0d73468bd0b0258eb61d9358352ecb7b?s=720 -->

                <!-- • If you want to fetch image from Twitter use this URL: https://twitter.com/harsh98trivedi/profile_image?size=original -->

                <span id="header-text">
                    <span id="typing" class="typed">
                        <p>
                            <span class="typed-strings"></span>
                        </p>
                    </span>
                </span>
                <p>
                    <a href="#about-section">
                        <img style="width:3rem;" class="bounce" src="{{site.url}}{{site.baseurl}}/images/arrow.svg"></img>
                    </a>
                </p>
            </div>
        </div>
    </div>
    <!-- Welcome Container Ends -->
</center>